@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --h1: Montserrat;

  /* font sizes */
  --h1-size: 32px;
  --h2-size: 24px;
  --b1-size: 16px;

  /* Colors */
  --primary: #e3e8f8;
  --accent: #203562;
  --color-black: #000;
  --font: #303030;
  --secondary: #f5f5f5;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-7xs: 6px;
  --gap-base: 16px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-base: 16px;
  --br-5xs: 8px;
}
